body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: larger;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: small;
  color: grey;
}

.main-header-label {
  text-align: left;
  font-family: Montserrat;
  color: #191818;
  margin-bottom: 20px;
}

.sub-header-descriptor {
  color: #505050;
  font-family: Montserrat;
}

.sub-header-label {
  font-family: Montserrat;
  font-weight: 400;
}

#home-hero {
  width: 100vw;
  // height: 100vh;
  background-image: url("/cs171-final-project/img/home-hero-background.jpg");
  background-size: cover;
}

#home-hero-left {
  margin-left: 10vw;
  margin-top: 100px;
}

#home-hero-right {
  margin-top: 100px;
  margin-left: 10vw;
}

.main-header-box {
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: url("/cs171-final-project/img/header-card.jpg");
  border-radius: 8px;
}

.paragraph-body {
  font-family: Montserrat;
  color: #585858;
}

.background-info-box {
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 40px;
  border-top: 10px solid #E8EFFC;
}

.background-emphasis {
  font-weight: 800;
}

.visualization-header {
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.visualization-header-text {
  text-align: center;
}

.visualization-container {
  margin-left: 10vw;
  margin-top: 50px;
}

.empty-visualization {
  width: 300px;
  height: 300px;
  background: #F6F6F8;
}

.visualization-label {
  margin-top: 40px;
  text-align: left;

}