body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: larger;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: small;
  color: grey;
}

.main-header-label {
  text-align: left;
  font-family: Montserrat;
  color: #191818;
  margin-bottom: 20px;
}

.sub-header-descriptor {
  color: #505050;
  font-family: Montserrat;
}

.sub-header-label {
  font-family: Montserrat;
  font-weight: 400;
}

#home-hero {
  width: 100vw;
  /*height: 100vh;*/
  background-image: url("/cs171-final-project/img/home-hero-background.jpg");
  background-size: cover;
}

#home-hero-left {
  margin-left: 10vw;
  margin-top: 100px;
}

#home-hero-right {
  margin-top: 100px;
  margin-left: 10vw;
}

.main-header-box {
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: url("/cs171-final-project/img/header-card.jpg");
  border-radius: 8px;
}

.paragraph-body {
  font-family: Montserrat;
  color: #585858;
}

.background-info-box {
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 40px;
  border-top: 10px solid #E8EFFC;
}

.background-emphasis {
  font-weight: 800;
}

.visualization-header {
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.visualization-header-text {
  text-align: center;
}

.visualization-container {
  /*margin-left: 10vw;*/
  margin-top: 50px;
}

.empty-visualization {
  width: 500px;
  height: 500px;
  background: #F6F6F8;
}

.visualization-label {
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 20pt;
  color: #191818;
  margin-bottom: 20px;
  text-align: left;
}

.visualization-title {
  /*font-family: Open Sans;*/
  text-align: center;
}

#price-map {
  width: 95%;
  height: 400px;
}

.form-control {
  width: 90%;
  margin-bottom: 15px;
}

.visualization-source {
   margin-top: 25px;
   text-align: center;
}

.visualization-title > span, .visualization-source > span {
  font-weight: 600;
}

.price-key {
  background: white;
  padding: 18px;
  line-height: 16px;
  color: #191818;
  border: 3px solid rgba(0,0,0,0.3);
  border-radius: 8px;
}

.price-key i {
  float: left;
  width: 16px;
  margin-right: 8px;
  opacity: 0.8;
  height: 16px;
}

#inboundGraphContainer {
  /*width: 100%;
  height: 500px;*/
}

#physButtonGroup .btn-secondary {
  background-color: steelblue;
  border-color: white;
}


.gPath {
  fill: none;
  stroke-width: 3;
}

.home {
  color: orange;
}

.conclusion-text {
  margin-bottom: 60px;
}

.bio-circle {
  width:175px;
  height:175px;
  border-radius: 87.5px;
  /*background:red;*/
}

.james {
  background-image: url("../img/portraits/james.jpg");
}

.ethan {
  background-image: url("../img/portraits/ethan.jpg");
}

.david {
  background-image: url("../img/portraits/david.jpg");
}

.conclusion-holder {
  display: block;
  text-align: center;
}

.conclusion-name {
  margin-top: 20px;
  font-weight: 600;
}

.bio-circle:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.5 all ease;
}

.linkedin-icon {
  font-size:24px;
  color:#DFAAFB;
  padding-bottom:250px;
}

.conclusion {
  width: 100vw;
  /*height: 100vh;*/
  background-image: url("/cs171-final-project/img/conclusion-background.jpg");
  background-size: cover;
}

#famous {
  transform: scale(0.92);

}

.home {
  filter: invert(82%) sepia(40%) saturate(465%) hue-rotate(195deg) brightness(101%) contrast(97%);
}

.home-2 {
  filter: invert(96%) sepia(42%) saturate(3348%) hue-rotate(177deg) brightness(101%) contrast(98%);

}
.home-3 {
  filter: invert(68%) sepia(71%) saturate(797%) hue-rotate(207deg) brightness(106%) contrast(97%);
}

.home-4 {
  filter: invert(92%) sepia(76%) saturate(4243%) hue-rotate(205deg) brightness(88%) contrast(98%);
}

.shipmentsTooltip, .housingShowTooltip, .dreamTooltip {
  position: absolute;
  text-align: left;
  max-width: 40em;
  background: white;
  padding: 2em;
  font: 0.75em Montserrat;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  /*border-top: 8px solid #E8F0FC;*/
}

.shipment-tooltip-emphasis {
  font-weight: 600;
}