body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: larger;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: small;
  color: grey;
}

/*.show {*/
/*  fill: #ebf2ff*/
/*  fill: #f5ebff*/
/*}*/

